/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Body & Background */
body {
  background: url("images/gym.jpg") no-repeat center/cover fixed;
  color: white;
  filter: contrast(1.1) brightness(1);
}

/* Header */
header {
  background: rgba(20,20,20,0.85);
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  color: #DC143C;
  text-shadow: 2px 2px #000;
}

/* Day Details */
.day-details {
  width: 990px;
  height: 570px;
  margin: 15px auto;
  padding: 25px;
  background: rgba(0,0,0,0.6);
  border: 3px solid #333;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.day-details h2 {
  margin-bottom: 15px;
  color : #DC143C;
}

.exercise-list li {
  margin: 8px 0;
  cursor: pointer;
  color: #aaa;
}

.exercise-list li:hover {
  text-decoration: underline;
}

/* Cards */
.day-card {
  background: rgba(0,0,0,0.5);
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.day-card h3 {
  color: #fff;
  font-size: 1.2em;
}

.day-card p {
  color: #ccc;
  font-size: 0.9em;
}

.day-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.day-card.active {
  border: 3px solid #333;
  box-shadow: 0 0 15px rgba(255,255,255,0.6);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
  overflow-y: auto;
}

.modal-content {
  background: #111;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border: 2px solid #DC143C;
  border-radius: 15px;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

#modalDesc {
  margin-top: 15px;
  line-height: 1.6;
}

.close {
  color: #DC143C;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
    body {
    background: url("images/bg-mobile.png") no-repeat center center fixed;
    background-size: cover;
  }
  .day-details {
    width: 95%;
    height: auto;
    padding: 15px;
  }
  .day-card {
    width: 100%;
    margin: 8px 0;
  }
}

#exerciseDetail {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 700px;
  z-index: 2000;
  display: none; /* hidden until opened */
   padding: 40px 0;
}

.exercise-detail-card {
  background: rgba(20, 20, 20, 0.9); /* transparent black */
  padding: 25px;
  border-radius: 15px;
  border: 2px solid #ff6b6b;
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
  text-align: center;
  color: #fff;
}

.close-detail {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #ff6b6b;
}
.close-detail:hover {
  color: #fff;
}
